* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: cursive;
    font-size: 2vh;
    color: rgb(241, 241, 241);
}

body {
    background-color: #242424;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 20px;
    font-size: 1.6vh;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}